<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js">
</script>

    <body>
<div style="background-color:red; color:white;" class="jumbotron">
  <h1 class="display-4">Welcome to Awesome Bank MDM Home Page</h1>
  <p class="lead">Manage Bank Master Data</p>
  <hr class="my-4">
  <p><i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i> This is for authorized users only <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i></p>

</div>
<div class="container">
      <div class="row">
        <div class="col-lg-6">
<div class="card" style="width: 18rem;">
  <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
  <div class="card-body">
    <h5 class="card-title">MDM Reports</h5>


    <p class="card-text">View MDM Reports</p>
    <a href="reports" class="btn btn-primary">These are MDM Reports</a>
  </div>
</div>
        </div>
        <div class="col-lg-6">
<div class="card" style="width: 18rem;">
<i class="fa fa-university fa-5x" aria-hidden="true"></i>
  <div class="card-body">
    <h5 class="card-title">MDM Data Manager</h5>

    <p class="card-text">Add/Modify/Remove MDM Data</p>
    <a href="mdmform_view" class="btn btn-primary">Manage Loan Data</a>

  </div>
</div>
      </div>
    </div>

 </body>
</html>